@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img
{
    max-width: 100%;
    height: auto;
}

.logo
{
  float: left;
  margin-left: 10px;
}
nav
{
  width: 100%;
}

.container
{
    padding-right: 50px;
    margin: auto;
    opacity: .7;
    font-size: 25;
    font-family: serif;
}

.container a
{   
    color: orange;
    text-decoration:none;
    float: right;
    line-height: 40px;
    padding: 10px; 
}

.container a:hover
{
    background: orange;
    color: white;
    transition: 1s;
}

.fa-list.modify
{
    display: none;
    font-size: 35px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 840px)
{
.container
{
    display: none;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
    
.container a 
{
    width: 100%;
}
    
.logo
{
    margin: 0;
    float: none;
    text-align: center;
}
    
.fa-list.modify
{
    display: block;
} 
}

.wid
{
    max-width: 960px;
    margin: 0 auto 90px;
}

.flexslider
{
    border: 1px solid;
}
.flexslider img
{
    max-height:400px; 
}

.clear
{
    clear: both;
    height: 90px;
    
}

@media screen and (max-width: 840px)
{
.clear
{
    clear: both;
    height: 30px; 
}
}

.title
{
    border: 1px solid;
    color: orange;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.word
{
    line-height: 1.8;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px dashed orange;
    padding: 0 0 30px 0;
    margin: 0 auto;
}

@media screen and (max-width: 840px){

.word
{
    width: 95%;
}
}
.word2
{
    margin: 30px auto ;
    font-size: 14px;
    text-align: center;
    width: 80%;
    line-height: 1.6;
    color: #BB5500;
}
.word3
{
    font-size: 14px;
    margin: 5px 0 0 0;
}

.word4
{
    border:1px solid;
    margin: 10px;
    padding: 5px;
}

.pic
{
    display: flex;
    justify-content: center;
}

.pic div
{
    margin: 0 10px;
    overflow:hidden;
}

.pic img
{
    transform:scale(1,1);
    transition: all .4s ease-out;
    border: 1px solid;
}

.pic img:hover
{
    transform:scale(1.2,1.2);
}

@media screen and (max-width: 500px){
    
.pic
{
   display: block;
   text-align: center;
   margin: 0 auto;
}
    
.pic div
{ 
     width: 80%;
     margin: 20px auto;
}
    
.pic img
{
    width: 99%;
} 
}

.pic2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic2-1
{
    
    position: relative;
    margin: 10px;
}

.pic2-1 .hot
{
    position: absolute;
    background: red;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pic-logo
{
    line-height: 30px;
    text-align: center;
}

.pic-logo a
{
    text-decoration:none;
    color:#BB5500;  
}

@media screen and (min-width: 360px) and (max-width: 800px){
    
.flex
{
    display: block;
    text-align: center;
}
    
.safe
{
    margin: 0 auto 20px;
}
     
.pic-logo
{  
    display: inline-block;
    margin: 0 10px;
} 
}

@media screen and (max-width: 360px){
      
.flex
{
    display: block;
    text-align: center;
}
    
.safe
{
    margin: 0 auto 20px;
}
    
.pic-logo
{
    display: inline-block;
    margin: 0 auto;
}   
}

.pic-logo:hover
{
    animation: my-animate .5s;
}

@keyframes my-animate{
    
   0%
{
     transform:rotate(0deg)
}
  10%
{
    transform:rotate(10deg)
}
  20%
{
    transform:rotate(15deg)
}
  40%
{
    transform:rotate(0deg)
}
  60%
{
    transform:rotate(-15deg)
}
  80%
{
    transform:rotate(-10deg)
}
  100%
{
    transform:rotate(0deg)
}
}

.container2 
{
    margin: auto;
    display: flex;
}

.hover-box 
{
    margin: auto;
    box-sizing: border-box;
    position:relative;
    border: 1px solid;
}

.hover-box .img-box 
{
    position: relative;
    overflow: hidden;
}

.hover-box .img-box img
{
    margin: auto;
    transition: transform 0.5s;
}

.hover-box:hover .img-box img 
{
    transform: scale(1.3);
}

 .hover-box .info-box
{
    position: absolute;
    left: 10px;
    top: 10px;
    bottom:10px;
    right:10px;
    color:#fff;
    background:rgba(0,0,0,.6);
    text-align:center;
    transform:scaleY(0);
    transition:transform .5s;
} 

.hover-box .info-box .info-content
{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding:15px;
}

.hover-box:hover .info-box 
{
    transform:scaleY(1);
}

.info-content h2
{
    font-size: 20px;
}
.info-content p
{
    margin: 20px 0 0 0;
}

.contact
{
    display: flex;
    justify-content: space-around;
}

.icon-1 div
{
    border: 1px solid black;
    margin: 5px;
    align-items: center;
    display: flex;
    padding: 5px 55px;
    background:	#00DD77;
    color: white;
    border-radius: 5px;
}

.icon-1 div:hover
{
    opacity: .7;
}

.icon-2 div:hover
{
    opacity: .7;
}

.icon-1 a,.icon-2 a
{
    text-decoration:none;

}
.icon-2 div
{
    border: 1px solid black;
    margin: 5px;
    align-items: center;
    display: flex;
    padding: 5px 55px;
    color: white;
    border-radius: 5px;
}

.icon-2-1
{
    background:	#FF3333;
}

.icon-2-2
{
    background:	#0066FF;
}
.icon-2-3
{
    background:#227700;
}

.icon-0
{
    
    margin: 0 auto;
    line-height: 2; 
}

.icon-0-1, .icon-0-2
{
    background:	#FF7744;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

.icon-0 img
{
    margin: 10px;
}

@media screen and (min-width:481px) and (max-width:880px)
{
.contact
{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.icon-1 div,.icon-2 div
{
    border: 1px solid black;
    justify-content: center;
}
}

@media screen and (max-width:480px)
{
    
.contact
{
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    min-height: 300px;
}
    
.icon-1 div,.icon-2 div
{
    justify-content: center; 
    min-height: 50px;
} 
    
 .icon-2 img,.icon-1 img
{
    min-width: 48px;
    min-height: 48px;
}
}

.fot
{
   
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background: black;
    color: white;
    text-align: center;
    line-height: 40px;
}

.pagetop
{
    width: 6%;
    min-width: 35px;
    position: fixed;
    right: 0px;
    bottom: 100px;
    opacity: .7;
    z-index: 999;
}